{% extends 'base.html' %}
{% block header %}
{% block title %}
Future Energy | About
{% endblock title %}

{% endblock header %}
{% block content %}
{% load static %}
<body>
 <div>
     <h2 style="font-family:serif; text-align:center"><u>Welcome To Future Energy</u></h2>
     <p style="font-size:20px">
        <b>At Future Energy, we are committed to meeting all your solar energy
         needs.Whether you're a business, NGO, Government institution, Company
         or a homeowner, we have a wide range of products to suite your requirements.
        </b> <br>
     </p>
         <h3 style="font-family:serif"><u>**Why Choose Us?**</u></h3>

             <h5 style="margin-left:70px;margin-top:30px">1. *Diverse Product Range:*</h5>
             <P style="font-size:20px;margin-left:88px">
             We offer a variety of solar products tailored to meet the unique
                 needs of our diverse clients.
             </P>
                 <h5 style="margin-left:70px;margin-top:30px">2. *Competitive Pricing:*</h5>
             <p style="font-size:20px;margin-left:88px">
                 Our prices are among the most competitive in the market, ensuring affordability
                 without compromising on quality.
             </p>
<h5 style="margin-left:70px;margin-top:30px">3. *Professional Institution Services:*</h5>
         <p style="font-size:20px;margin-left:88px">
             In addition to providing top-notch products, we offer expert installation services,
             including solar water heating systems, to ensure optimal performance and longevity.
         </p>

     <h3 style="font-family:serif"><u>**Serving East Africa**</u></h3>
     <p style="font-size:20px;margin-top:30px">
        <b><i> Based in East Africa, we extend our services throughout the region, bringing
         renewable energy solutions to communities and business across borders.
        </i></b></p>
     <h3 style="font-family:serif"><u>**Get in Touch**</u></h3>
     <p style="font-size:20px;margin-top:30px">
     <b><i>Ready to make the switch to clean, sustainable energy? Contact us today to learn
         more about our products and services. Lets build a brighter, greater future
         together with Future Energy.
     </i></b></p>
 </div>
</body>
{% endblock content %}