{% extends 'base.html' %}
{% block header %}
{% block title %}
Future Energy | Mission
{% endblock title %}

{% endblock header %}
{% block content %}
{% load static %}
<body>
<table width="100%">
    <tr>
        <th style="text-align:center;font-size:40px">
            <u><b>Mission</b></u>
        </th>
        <th style="text-align:center;font-size:40px">
            <u><b>Vision</b></u>
        </th>
    </tr>
    <tr>
        <th width="50%">
            <p style="font-family:serif;font-size:30px;text-align:center">
                Its an impossibility to be perfect <br>but its possible to
                do the best
            </p>
        </th>
        <th width="50%">
            <p style="font-family:serif;font-size:30px;text-align:center;right:20px">
                With the sun, the possibilities are <br>endless
            </p>
        </th>
    </tr>
</table>
</body>
{% endblock content %}