{% extends 'base.html' %}
{% block header %}
{% block title %}
Partners
{% endblock title %}

{% endblock header %}
{% block content %}
{% load static %}

<body>
<h2 style="font-family:curved;text-align:center;color:blue">
    We partner with the best partners across the Country
</h2>
<h4 style="margin-left:100px;margin-top:40px">
    They include:
</h4>
<div>
<table width="100%"style="margin-top:20px">
    <tr style="">
        <td width=""style="">
            <img src="" width="70px"height="70px"style="margin-left:50px"><br>
            <p style="font-size:20px;margin-left:50px">LAGNUVO</p>
        </td>
        <td width="">
            <img src="" width="70px"height="70px"style="margin-left:20px"><br>
            <p style="font-size:20px;margin-left:20px">KRATOS</p>
        </td>


        <td style="right:50px">
           <img src="" width="70px"height="70px"style="margin-left:20px"><br>
            <p style="font-size:20px;margin-left:20px">SUPERVOLTS</p>
        </td>
    </tr>
    <tr>
        <td>
           <img src="" width="70px"height="70px"style="margin-left:50px"><br>
            <p style="font-size:20px;margin-left:50px">DURATECH</p>
        </td>

    </tr>
</table>
</div>
</body>
{% endblock content %}